* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.button {
  font-size: 25px;
  font-weight: bold;
  padding-left: 15px;
}
.calendar {
  padding-left: 25px;
}
.day-calendar.festivity {
  font-weight: bold;
  color: red;
}
