* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.button {
  font-size: 25px;
  font-weight: bold;
  padding-left: 15px;
}
.calendar-title {
  display: flex;
  flex-wrap: wrap;
  width: 700px;
}
.day-title {
  height: 50px;
  flex-basis: 100px;
  border: 1px solid black;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 15px;
}
.calendar {
  display: flex;
  flex-wrap: wrap;
  width: 700px;
}
.day-calendar {
  height: 100px;
  flex-basis: 100px;
  border: 1px solid black;
}
.date {
  font-weight: bold;
}
.day-week {
  font-style: italic;
}
.day-calendar.festivity {
  font-weight: bold;
  color: red;
}
